# =============================================
# 1C Frontend - Environment Variables (Example)
# Bu faylni nusxa olib .env deb saqlang
# =============================================

# API Base URL
VITE_API_BASE_URL=/api-1c
VITE_API_TARGET_URL=http://31.135.213.137:40090/RES/hs

# API Auth
VITE_API_USERNAME=Admin
VITE_API_PASSWORD=123456789

# App Info
VITE_APP_NAME=1C Dashboard
VITE_APP_VERSION=1.0.0

# App Port
VITE_PORT=3000

# Environment (development | production)
VITE_NODE_ENV=development
